@import "vars";
@import "mixins";
@import "antd";
@import "debug";

body {
  font-family: $font-main;
  font-weight: 400;
  line-height: 1.65;
  color: $clr-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: $clr-primary;
  line-height: 1.15;
}

a {
  text-decoration: none;
  color: $clr-link;

  &:hover {
    color: $clr-link-hover;
    text-decoration: underline;
  }
}

#site {
  background: url("../images/main-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  max-width: $desktop;
  width: 100%;
}

@import "news-card";
