// used for mobile breakpoints
@mixin breakpoint($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

// used for fade transition effects
@mixin fade {
  transition: all 0.3s ease-in-out;
}

@mixin hover-outline {
  box-shadow: 0 0 3px 3px $clr-primary;
  @include fade;
}

// include on pages with sidebar
@mixin sidebar {
  display: grid;

  @include breakpoint($tablet) {
    grid-template-columns: 2fr 1fr;
  }
}

// used to set button styles
// @param $baseColour the background colour of the button
@mixin button-style($baseColour) {
  background-color: $baseColour;
  color: white;
  border: none;
  border-bottom: 3px solid darken($baseColour, 10%);
  font-family: $font-main;
  cursor: pointer;
  padding: 0.3rem 1rem;
  margin: 0;
  height: 40px;
  max-width: 250px;
  overflow: hidden;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: darken($baseColour, 5%);
    @include fade;
  }
}
