// used for mobile breakpoints
@mixin breakpoint($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

// used for fade transition effects
@mixin fade {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@mixin hover-outline {
  box-shadow: 0 0 3px 3px $clr-primary;
  @include fade;
}

// include on pages with sidebar
@mixin sidebar {
  display: grid;

  @include breakpoint($tablet) {
    grid-template-columns: 2fr 1fr;
  }
}

// used to set button styles
// @param $baseColour the background colour of the button
@mixin button-style($baseColour) {
  cursor: pointer;
  background-color: $baseColour;
  color: white;
  border: 3px solid transparent;
  border-radius: 2px;
  border-bottom: 3px solid darken($baseColour, 10%);
  font-family: $font-main;
  padding: 0.3rem 1rem;
  margin: 0;
  height: 40px;
  max-width: 250px;
  overflow: hidden;
  text-align: center;

  &:hover {
    text-decoration: none;
    background-color: darken($baseColour, 5%);
    @include fade;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@mixin tab-heading($baseColour) {
  justify-self: left;
  position: relative;
  background-color: $baseColour;
  color: white;
  padding: 0.5rem 2rem;
  margin: -30px 0 0 0;
  max-width: fit-content;
  height: 50px;

  &::after {
    position: absolute;
    content: '';
    right: -20px;
    top: 30px;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: $clr-qul-gray-lighter transparent transparent transparent;
  }

  @include breakpoint($tablet) {
    font-size: 1.5rem;
  }
}
