.news-card {
    display: grid;
    // grid-template-rows: 200px 100px auto;
    // grid-template-areas: 
    //   "top"
    //   "middle"
    //   "bottom";

    img {
        width: 100%;
    }

    &:hover {
        box-shadow: 0 0 0 3px $clr-primary;
        transition: 0.3s ease-in-out;
        text-decoration: none;
    }

    footer {
        background-color: $clr-qul-gray-darker;
        padding: 2rem;

        h2,
        h3 {
            color: white;
        }
    }
}
