//overides for Ant Design
.ant-popover {
  color: $clr-text;
}

.ant-input-group-addon {
  button {
    background-color: $clr-primary;

    &:hover {
      // background-color: greenyellow;
      background-color: darken($clr-primary, 5%);
    }
  }
}

.ant-select-selection-placeholder {
  // color: $clr-text;
  // color: green;
  // for a11y
  opacity: 0.7 !important;
}

.ant-input {
  &::placeholder {
    opacity: 1;
  }
}
