//overides for Ant Design
.ant-popover {
  color: $clr-text;
}

.ant-input-group-addon {
  button {
    display: grid;
    border: 0;
    background-color: $clr-primary;
    align-items: center;
  }
}
