#site-breadcrumbs {
  background-color: $clr-qul-blue;
  padding: 0 1rem;

  ol {
    font-size: 0.9rem;
    display: flex;
    margin: 0;
    padding: 0.5rem;

    li {
      & + li::before {
        content: "/ ";
        padding: 0 5px;
        color: #ccc;
      }

      a {
        color: white;

        &[aria-current="page"] {
          color: $clr-qul-light-gray;
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
}
