body {
  background-color: gainsboro;

  //mobile
  border-top: 3px solid royalblue;

  @include breakpoint($tablet) {
    border-top: 3px solid greenyellow;
  }

  @include breakpoint($desktop) {
    border-top: 3px solid orangered;
  }
}

@mixin debug {
  border: 1px solid red;
}
