.filters {
  label,
  input {
    margin-right: 1rem;
  }

  label {
    color: $clr-primary;
  }

  input {
    padding: 5px;
    width: 88%;
  }

  .filter-actions {
    padding: 2rem 1rem;
    background-color: $clr-filters;
  }

  .filter-results {
    padding: 1rem;
    background-color: $clr-filters-lighter;
    color: $clr-primary;
    width: 100%;
    text-align: center;
  }

  /* antd things */
  .ant-input-suffix {
    // width: 30px;
    // height: 30px;
    // background-color: white;
  }
}
