#site-header {
  background-color: white;
  border-bottom: 3px solid $clr-primary;
  padding: 1rem 2rem;

  section { // container
    #qul-logo {
      img {
        max-width: 100%;
      }
    }

    #user-menu {

    }

    #main-menu {
      ul {
        li {
          padding-top: 1rem;
          font-size: 1rem;
          line-height: 1;

          &:last-of-type {
            padding-right: 0;
          }

          a {
            text-transform: uppercase;
            font-weight: bold;
            color: $clr-primary;

            &:hover {
              text-decoration: none;
              border-bottom: 3px solid $clr-primary;
            }
          }
        }
      }
    }

    #site-search {

    }
  }

  @include breakpoint($tablet) {

  }

  @include breakpoint($desktop) {

  }
}
