#site-main {
  .content {
    padding: 0 2rem 2rem;

    // using "minor third" type scale (https://type-scale.com/)
    h1 {
      font-size: 2.488em;
    }

    h2 {
      font-size: 2.074em;
    }

    h3 {
      font-size: 1.728em;
    }

    h4 {
      font-size: 1.44em;
    }

    h5 {
      font-size: 1.2em;
    }

    // using "major third" type scale for desktop
    @include breakpoint($desktop) {
      h1 {
        font-size: 3.052em;
      }

      h2 {
        font-size: 2.441em;
      }

      h3 {
        font-size: 1.953em;
      }

      h4 {
        font-size: 1.563em;
      }

      h5 {
        font-size: 1.25em;
      }
    }

    a {
      font-weight: bold;
    }

    ul {
      list-style: url(../images/list-bullet.svg);
    }

    li {
      padding-top: 5px;
    }

    blockquote {
      background: url(../images/blockquote.svg) no-repeat;
      padding: 30px 0 15px 90px;
      min-height: 100px;

      p {
        color: $clr-quote;
        font-style: italic;
        font-size: large;
        font-weight: 300;
      }
    }
  }

  button {
    @include button-style($clr-primary);
  }

  @include breakpoint($tablet) {
    display: flex;

    .content {
      width: 70%;
    }
  }
}
