#site-body {
  margin-top: 3rem;
  background-color: white;
  padding: 0;
}

#site-main {
  display: flex;

  .content {
    width: 70%;
    padding: 0 2rem 2rem;

    h1 {
      font-size: 2.5em;
      line-height: 1.125em;
    }

    h2 {
      font-size: 2em;
      line-height: 1.25em;
    }

    h3 {
      font-size: 1.5em;
      line-height: 1.25em;
    }

    h4 {
      font-size: 1.125em;
      // font-weight: bold;
      line-height: 1.25em;
      text-transform: uppercase;
    }

    a {
      font-weight: bold;
    }

    ul {
      list-style: url(../images/list-bullet.svg);
    }

    li {
      padding-top: 5px;
    }

    blockquote {
      background: url(../images/blockquote.svg) no-repeat;
      padding: 30px 0 15px 90px;
      min-height: 100px;

      p {
        color: $clr-quote;
        font-style: italic;
        font-size: large;
        font-weight: 300;
      }
    }
  }

  button {
    background-color: $clr-primary;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-bottom: 3px solid $queens-logo-black;

    &:hover {
      background-color: $clr-link;
    }
  }
}
