.staff-profile-page {
  @include sidebar;

  .content {
    h1 {
      grid-column: 1 / 3;
    }

    .contact {
      .headshot {
        max-width: 300px;
        margin-bottom: 1rem;
      }

      .job-title {
        font-style: italic;
      }

      .office {
        display: flex;
        svg {
          overflow: visible;
          margin: 6px 0 0 0;
        }
        span {
          // display: inline-block;
          margin-left: 0.5rem;
        }
      }

      svg {
        fill: $clr-qul-yellow;
        margin-right: 0.5rem;
      }
    }
  }

  .text {
    h2 {
      margin-top: 1rem;
    }
    .cv {
      svg {
        fill: $clr-secondary;
        margin-left: 0.5rem;
      }
    }
  }

  @include breakpoint($tablet) {
    .content {
      display: grid;
      grid-template-columns: 1fr 2fr;

      .text {
        padding-left: 2rem;
      }
    }
  }
}
