.news-events-page {
  .header-top {
    @include breakpoint($tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .filters {
    border-bottom: 3px solid $clr-primary;
    @include breakpoint($tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .news-grid {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }

  .pagination-footer {
    padding: 0 2rem 2rem;
    text-align: right;
  }
}
