.ask-us-widget {
  margin: 0 0 3rem;

  @include breakpoint($tablet) {
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 35px 5rem 3rem 0;
  }


  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;

    img {
      width: 180px;
      height: 180px;
      margin: 0 auto;
    }
  }
}
