.featured-slider-area {
  background: url("../images/featured-slider-bg.svg") no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;

  .slider {
    padding: 2rem;
    position: relative;

    .ant-carousel .slick-slider {
      display: grid;

      // .slick-arrow {
      //   // background-color: yellow;
      //   height: 100%;
      //   top: 0;
      // }

      .slide {
        text-align: center;
        color: white;

        h2 {
          color: white;
          // text-transform: uppercase;
        }

        p {
          padding: 1rem;
        }

        button {
          @include button-style($clr-secondary);
        }
      }

      .slick-dots {
        position: static;
        margin: 0;
        padding: 2rem 0 0 0;
        z-index: 15;
        display: flex !important;
        justify-content: center;
      }
    }
  }

  .bell-symbol {
    padding: 1rem;
    display: none;
  }

  @include breakpoint($tablet) {
    h2 {
      font-size: 1.4rem;
    }
  }

  @include breakpoint($desktop) {
    grid-template-columns: 3fr 1fr;

    .bell-symbol {
      display: grid;

      img {
        justify-self: center;
      }
    }
  }
}
