.featured-slider {
  background: url("../images/featured-slider-bg.svg") no-repeat;
  background-size: cover;
  // display: grid;

  .slider {
    padding: 2rem;
    position: relative;

    // button.slider-nav {
    //   border: none;
    //   background-color: transparent;
    //   font-size: 2rem;
    //   position: absolute;
    //   bottom: 0;
    //   padding: 1rem;

    //   svg {
    //     fill: white;
    //   }

    //   &.prev {
    //     left: 0;
    //   }

    //   &.next {
    //     right: 0;
    //   }
    // }

    .ant-carousel {
      // display: flex;

      .slick-arrow {
        // background-color: yellow;
        height: 100%;
        top: 0;
      }

      .slick-dots {
        position: static;
        margin: 0;
        padding: 2rem 0 0 0;
        z-index: 15;
        display: flex !important;
        justify-content: center;
      }
    }

    .slide {
      text-align: center;
      color: white;

      h2 {
        color: white;
      }

      p {
        // margin: 0;
        padding: 1rem;
      }

      button {
        @include button-style($clr-secondary);
      }
    }
  }

  .bell-symbol {
    padding: 1rem;
    display: none;
  }

  @include breakpoint($desktop) {
    grid-template-columns: 2fr 1fr;

    .bell-symbol {
      display: grid;

      img {
        justify-self: center;
      }
    }
  }
}
