#home {
  @import 'banner.scss';
  @import 'omni-widget.scss';
  @import 'ask-us-widget.scss';
  @import 'hours-links.scss';
  @import 'people-counter-widget.scss';
  @import 'news-events.scss';
  @import 'featured-slider.scss';
  @import 'chat-widget.scss';

  h1 {
    position: absolute;
    overflow: hidden;
    left: -1000px;
  }

  h2.section-title {
    justify-self: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  .omni-ask-us {
    // @include debug;
    display: grid;
    align-items: center;
    grid-gap: 2rem;
    padding: 2rem;
  }

  @include breakpoint($tablet) {
    h2.section-title {
      font-size: 1.4rem;
    }

    .omni-ask-us {
      grid-template-columns: 3fr 1fr;
    }
  }

  @include breakpoint($desktop) {
    .omni-ask-us {
      padding: 3rem 2rem;
    }
  }
}
