.hours-links {
  display: grid;
  align-items: flex-start;
  grid-gap: 2rem;
  background: url('../images/hours-bg.svg') no-repeat;
  background-size: cover;
  padding: 2rem;
  margin-bottom: 3rem;

  .people-counter {
    // @include debug;
    display: none;
  }

  .todays-hours {
    // @include debug;
    display: grid;
    justify-items: center;

    ul {
      // width: 100%;
      list-style: none;
      padding: 0;

      li {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-bottom: 0.5rem;

        a {
          color: $clr-primary;

          &:hover {
            color: $clr-secondary;
          }
        }

        span {
          text-align: right;
        }
      }
    }

    .button {
      @include button-style($clr-primary);
    }
  }

  .quick-links {
    // @include debug;
    margin-top: 2rem;
    display: grid;
    justify-items: center;

    ul {
      // width: 100%;
      list-style: none;

      li {
        padding-bottom: 0.5rem;

        a {
          color: $clr-primary;

          &:hover {
            color: $clr-secondary;
          }
        }
      }
    }
  }

  @include breakpoint($tablet) {
    grid-template-columns: 2fr 1fr;

    .quick-links {
      margin-top: 0;
    }
  }

  @include breakpoint($desktop) {
    grid-template-columns: 1fr 2fr 1fr;

    .people-counter {
      display: grid;
      align-self: center;
    }
  }
}
