.hours {
  display: grid;
  background: $clr-qul-light-blue url('../images/hours-bg.svg') no-repeat;
  background-size: cover;
  margin-top: 3rem;
  // width: 100%;

  .section-title {
    @include tab-heading($clr-primary);
  }

  .people-counter {
    // @include debug;
    padding: 1rem;
    display: none;
  }

  .todays-hours {
    // @include debug;
    width: 100%;
    display: grid;
    justify-self: center;
    justify-items: center;
    padding: 2rem 0;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding-bottom: 0.5rem;

        a {
          color: $clr-primary;
        }

        span {
          text-align: right;
        }
      }
    }

    .button {
      @include button-style($clr-primary);
    }
  }

  @include breakpoint($tablet) {
    // height: 100%;
  }

  @include breakpoint($desktop) {
    max-width: none;
    grid-template-columns: 2fr 1fr;

    .section-title {
      grid-column: 1/3;
    }

    .people-counter {
      display: grid;
      align-self: center;
    }
  }
}
