.news-events {
  display: grid;
  background: url('../images/news-bg.svg') no-repeat;
  background-size: cover;
  margin: 5rem 0 3rem;

  .section-title {
    @include tab-heading($clr-qul-gray-darker);
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    justify-items: center;
  }

  .button {
    @include button-style($clr-qul-gray-darker);
    justify-self: center;
    margin: 0 0 2rem;
  }

  @include breakpoint($tablet) {
    margin: 3rem 0;
  }
}
