.news-events {
  display: grid;
  // justify-items: center;
  background: url("../images/news-bg.svg") no-repeat;
  background-size: cover;
  padding: 2rem;

  .news-grid {
    display: grid;
    grid-gap: 2rem;
  }

  button {
    @include button-style($clr-qul-gray);
    justify-self: center;
    margin-top: 2rem;
  }

  @include breakpoint($desktop) {
    .news-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
