.omni-widget {
  background: url("../images/omni-widget-bg.svg") no-repeat;
  background-size: cover;
  margin: 0 0 3rem;

  @include breakpoint($desktop) {
    width: 60%;
    margin: 0 0 3rem 5rem;
  }
}
