.people-counter {
  display: grid;
  grid-gap: 1rem;

  .ant-progress-inner {
    background-color: white;
    width: 180px !important;
    height: 180px !important;
  }

  a {
    justify-self: center;
    color: $clr-primary;
  }
}
