.quick-links {
  // @include debug;
  background: $clr-qul-red-darker url('../images/featured-slider-bg.svg')
    no-repeat;
  background-size: cover;
  display: grid;
  margin-top: 3rem;

  .section-title {
    @include tab-heading($queens-logo-red);
  }

  ul {
    // @include debug;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    margin: 0;
    padding: 2rem;

    li {
      a {
        color: white;
      }
    }
  }

  @include breakpoint($tablet) {
  }

  @include breakpoint($desktop) {
  }
}
