#site-breadcrumbs {
  background-color: $clr-primary;
  padding: 0.5rem 2rem;

  span {
    color: white;

    a {
      color: white;
      text-decoration: underline;

      &[aria-current="page"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}
