.breadcrumb {
  background-color: $clr-primary;
  color: white;
  padding: 0 2rem;

  ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li,
    span {
      padding: 0.5rem;
    }
    li {
      &:first-of-type {
        padding-left: 0;
      }
      a {
        color: white;
        text-decoration: underline;

        &[aria-current='page'] {
          pointer-events: none;
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }
}
