.filters {
  background-color: $clr-qul-yellow;
  padding: 1rem 2rem;

  label,
  input {
    margin-right: 1rem;
  }

  label, .ant-pagination-total-text {
    color: $clr-primary;
    font-weight: 300;
    font-size: 1rem;
  }

  input {
    padding: 5px;
    width: 88%;
  }

  .filter-actions {
    padding: 2rem 1rem;
    background-color: $clr-qul-yellow;
  }

  .filter-results {
    padding: 1rem;
    background-color: $clr-qul-yellow-lighter;
    color: $clr-primary;
    width: 100%;
    text-align: center;
  }

  /* antd things */
  .ant-input-suffix {
    // width: 30px;
    // height: 30px;
    // background-color: white;
  }
}
