.filters {
  display: grid;
  grid-gap: 2rem;

  .pagination {
    .ant-pagination-total-text {
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  @include breakpoint($tablet) {
    grid-template-columns: 2fr 1fr 1fr;
    // align-content: center;
  }

  @include breakpoint($desktop) {
  }
}

.news-events-page {
  display: grid;
  padding: 2rem;

  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
}
