.filters {
  display: grid;
  grid-gap: 1rem;

  @include breakpoint($tablet) {
    grid-template-columns: repeat(3, auto);
  }

  @include breakpoint($desktop) {
  }
}

.news-events-page {
  display: grid;
  padding: 2rem;

  .news-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
}
