#site-footer {
  background-color: white;

  .footer-top {
    background: url("../images/footer-bg.svg") no-repeat;
    background-size: cover;

    @import "footer-menu";
  }

  .footer-bottom {
    display: grid;
    padding: 0 2rem;

    @import "social-links";

    .footer-blurb {
      padding: 0 1rem;
    }

    .queens-logo {
      padding: 1rem;
      justify-self: center;
    }
  }

  @include breakpoint($tablet) {
    .footer-top {
      padding-bottom: 3rem;
    }

    .footer-bottom {
      margin-top: -5rem;
      grid-template-columns: 2fr 1fr;
      grid-gap: 0;
      align-items: center;

      .social-links {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .footer-blurb {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .queens-logo {
        padding-top: 0;
      }
    }
  }
}
