#footer-menu {
  h2 {
    color: $clr-secondary;
    text-transform: uppercase;
  }

  ul {
    li {
      padding-bottom: 0.5rem;
    }
  }

  a {
    color: $clr-primary;
  }

  .buttons {
    display: grid;

    button {
      @include button-style($clr-secondary);
      width: 100%;
      margin-top: 1rem;
    }
  }

  @include breakpoint($tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .buttons {
      justify-items: right;
      button:first-of-type {
        margin-top: 0;
      }
    }
  }
}
