#site-footer {
  // background-color: white;
  // margin-bottom: 3rem;

  .footer-top {
    background: url('../images/footer-bg.svg') no-repeat;
    background-size: cover;
    padding: 2rem;

    @import 'footer-menu';
  }

  .footer-bottom {
    background-color: white;
    display: grid;
    padding: 2rem;
    position: relative;

    @import 'social-links';

    .social-links {
      padding-top: 0;
    }

    .footer-blurb {
      padding: 1rem;
    }

    .queens-logo {
      padding: 1rem;
      justify-self: right;
    }
  }

  @include breakpoint($tablet) {
    .footer-top {
      padding-bottom: 3rem;
    }

    .footer-bottom {
      grid-template-columns: 2fr 1fr;
      grid-gap: 0;
      align-items: center;

      .social-links {
        position: absolute;
        top: -3rem;
      }

      .footer-blurb {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
}
