.social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  margin: 0;
  list-style: none;
  justify-content: center;
  max-width: 400px;

  .social-icon {
    max-width: 6rem;
    padding: 1rem;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
