#site-header {
  background-color: white;
  border-bottom: 3px solid $clr-primary;

  .container {
    display: grid;
    grid-gap: 0;

    #qul-logo {
      // @include debug;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 1rem 1rem 0;
      max-width: 420px;

      img {
        max-width: 100%;
        align-self: center;
      }
    }

    #main-menu {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @include breakpoint($tablet) {
    .container {
      grid-template-columns: 2fr 1fr 1fr;

      #qul-logo {
        padding: 1rem;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      #main-menu {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }

  @include breakpoint($desktop) {
    .container {
      grid-template-columns: 450px auto auto;

      #qul-logo {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      // #user-menu {
      //   grid-column-start: 2;
      //   grid-column-end: 3;
      // }

      #site-search {
        grid-column-start: 3;
        grid-column-end: 4;
      }

      #main-menu {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }

  @import 'main-menu';
  @import 'user-menu';
  @import 'site-search';
}
