#main-menu {
  @include debug;
  padding: 1rem;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;

    li {
      align-self: center;
      margin: 0 1rem 0 0;
      font-size: 0.8rem;
      padding-bottom: 0.5rem;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        text-transform: uppercase;
        font-weight: bold;
        color: $clr-primary;

        &:hover {
          text-decoration: none;
          border-bottom: 3px solid $clr-primary;
          @include fade;
        }
      }
    }
  }

  @include breakpoint($tablet) {
    padding-top: 0;
    justify-self: right;

    ul {
      grid-template-columns: repeat(4, auto);

      li {
        font-size: 1rem;
        margin-right: 2rem;
      }
    }
  }

  @include breakpoint($desktop) {
  }
}
