#site-search {
  // @include debug;
  color: $clr-primary;
  align-self: center;
  padding: 1rem;

  .ant-input-affix-wrapper {
    color: $clr-primary;
  }

  @include breakpoint($tablet) {
  }

  @include breakpoint($desktop) {
  }
}
