#user-menu {
  @include debug;

  ul {
    @include debug;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0 1rem;

    li {
      @include debug;

      span {
        display: none;
        padding-left: 0.5rem;
      }

      button {
        background-color: white;
        padding: 4px 15px;
        // padding: 0;
        color: $clr-primary;
        border: 0;
        border-bottom: 3px solid transparent;

        &:hover {
          cursor: pointer;
          border-bottom: 3px solid $clr-primary;
          @include fade;
        }
      }
    }
  }

  @include breakpoint($tablet) {
  }

  @include breakpoint($desktop) {
    ul {
      grid-template-columns: repeat(3, auto);
      padding: 1rem;

      li {
        span {
          display: inline;
        }
      }
    }
  }
}
