#user-menu {
  // @include debug;
  display: grid;

  ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 1rem;

    li {
      align-self: center;
      justify-self: center;
      margin: 0 1rem 0 0;
      // min-width: 1rem;

      &:last-of-type {
        margin-right: 0;
      }

      span {
        display: none;
        padding-left: 0.5rem;
      }

      a {
        color: $clr-primary;
        
        &:hover {
          text-decoration: none;
          border-bottom: 3px solid $clr-primary;
          @include fade;
        }
      }

      button {
        background-color: transparent;
        color: $clr-primary;
        border: 0;
        border-bottom: 3px solid transparent;

        &:hover {
          border-bottom: 3px solid $clr-primary;
          @include fade;
        }
      }
    }
  }

  // @include breakpoint($tablet) {
  // }

  @include breakpoint($desktop) {
    // padding: 0;
    justify-self: right;

    ul {
      li {
        align-self: unset;
        // margin-left: 2rem;
        span {
          display: inline;
        }
      }
    }
  }
}
